<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Do you want more pizza?</h2>
	<form method="post" action="/on-to-final">
		<input type="submit" value="no, I want to buy my food now">
	</form>

	<a href="/more-pizza">More Pizza?</a>

</body>
</html>