<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <h3>Drinks</h3>
    <form method="post" action="/on-to-pasta">
	    <% drinks.each do |key, value| %>
			<div>
	         <input type="radio" name="drinks" value='<%= key %>, <%= value %>'>
					 <%= "$#{value} #{key}" %>
                    <% if key == "none" %>
                        You don't want anything
		            <% else %>
                			<img src="/img/<%=key.downcase.gsub(" ", "_")%>.jpg">
                	<% end %>
		        </div>
		        <br><br>
	    <% end %>
Quantity: <input type="number" min="0" name="quantity">
    <input type="submit" value="Next to Pasta">
    </form>

    <br><br>

    <form method="post" action="/back-to-wings">
        <input type="submit" value="Go back to Wings">
    </form>

</body>
</html>
