<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/yaywars.css">
	<title></title>
</head>
<body>
	<div class="header">
	<header>
	<div class="topnav">
		<div>
	  		<a href="/">Home</a>
		  	<a href="/news">News</a>
		  	<a href="/contact">Contact</a>
		  	<a href="/about">About</a>
	  	</div>
	</div>
	  </header>
	</div>
	<%= yield %>
	<div class="scrollbar">
 	</div>
	<div class="footer">
		<footer>
			<p><a href="http://www.minedminds.org" target = "_blank">Mined Minds</a><br>&copy; 2018</p>
		</footer>
	</div>
</body>
</html>