<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <h3>Extra Toppings</h3>
    <form method="post" action="/on-to-salad">
		<% extra_toppings.each do |key, value| %>
    <div>
      <%= "$#{value} #{key}" %>
		   	<input type="radio" name="extra_toppings" value='<%= key %>, <%= value %>'>
		            <% if key == "Double pepperoni" %>
                        <img src="/img/pepperoni.jpg">
                    <% elsif key == "none" %>
                        <%= "You don't want any" %>
                    <% elsif key == "Extra cheese" %>
                        <img src="/img/cheese.jpg">
                    <% else %>
                        <img src="/img/chickenTopping.jpg">
                    <% end %>
			    </div>
		    <% end %>

    <input type="submit" value="Next to Salads">
    </form>

    <br><br>

    <form method="post" action="/back-to-sauces">
        <input type="submit" value="Go back to Sauces">
    </form>

</body>
</html>
