<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Time to pay up</h1>
	<p>
		<table>
			<% order.each_with_index do |item, index| %>
					<% if item["type"] == "pizza" %>
						<% item["ingredients"].each_with_index do |ingredient, pizza_index| %>
						<tr>
							<td>
								$<%= sprintf("%.02f",ingredient["price"])%>
							</td>
							<td>
								<%= ingredient["ingredient"] %>
							</td>
						</tr>
						<% end %>
			<% else %>
				<tr>
					<td>
						$<%= sprintf("%.02f",item["price"])%>
					</td>
					<td>
						<%=item["name"]%>
					</td>
				</tr>
			<% end %>
		<% end %>
		</table>
	</p>
	<br><br>
	<form method="post" action="/on-to-checkout">
		<h2>Would you like delivery?</h2>
		<div>
			<input type="radio" name="delivery?" value=0>No
		</div>
		<div>
			<input type="radio" name="delivery?" value=5>Yes, that will be another 5 dollars
		</div>
		<div>
			<input type="text" placeholder="First Name">
			<input type="text" placeholder="Last Name">
		</div>
		<div>
			<input type="text" placeholder="Address">
			<input type="text" placeholder="State">
		</div>
		<input type="submit" value="Checkout">
	</form>
</body>
</html>
