<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="js/meatCheckboxChecker.js"></script>
    <title></title>
</head>
<body>

    <h3>Meats</h3>
    <form method="post" action="/on-to-veggies">
	    <% meats.each do |key, value| %>
	    		<div>
            <input type="checkbox" name="meats[]" value='<%= key %>!!<%= value %>'>
            <%= "$#{value} #{key}" %>
                <% if key == "none" %>
                    You don't want any
                <% else %>
                  <img src="/img/<%=key.downcase.gsub(" ", "_")%>.jpg">
                <% end %>
            </div>
	   	<% end %>
        <br><br>
    <input type="submit" value="Next to veggies" onclick="meatCheckboxChecker()">
    </form>

    <br><br>
    <form method="post" action="/back-to-pizza-crust">
        <input type="submit" value="Go back to Pizza Crust">
    </form>

</body>
</html>
