<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="js/meatCheckboxChecker.js"></script>
    <title></title>
</head>
<body>

    <h3>Meats</h3>
    <form method="post" action="/on-to-veggies">
	    <% meats.each do |key, value| %>
	    		<div>
                    <input type="checkbox" name="meats[]" value='<%= key %>, <%= value %>'>
                    <%= "$#{value} #{key}" %>
                        <% if key == "Chicken" %>
                            <img src="/img/chickenTopping.jpg">
                        <% elsif key == "none" %>
                            You don't want any
                        <% elsif key == "Pepperoni" %>
                            <img src="/img/pepperoni.jpg">
                        <% elsif key == "Sausage"%>
                            <img src="/img/sausage.jpg">
                        <% else %>
                            <img src="/img/bacon.jpg">
                        <% end %>
                    </div>
	   	<% end %>
        <br><br>
    <input type="submit" value="Next to veggies" onclick="meatCheckboxChecker()">
    </form>

    <br><br>
    <form method="post" action="/back-to-pizza-crust">
        <input type="submit" value="Go back to Pizza Crust">
    </form>

</body>
</html>
