<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <h3>Pasta</h3>
    <form method="post" action="/on-to-almost-final">
			<table>
				<% pasta.each do |key, value| %>
					<tr>
						<td>
							<input type="radio" name="selection" value='<%= key %>, <%= value %>' required>
							<%= "$#{value} #{key}" %>
						</td>
						<td>
				      <% if key == "none" %>
								You don't want any
				      <% else %>
				      	<img src="/img/<%=key.downcase.gsub(" ", "_")%>.jpg">
			      	<% end %>
						</td>
					</tr>
				<% end %>
			</table>
			Quantity: <input type="number" required min="0" name="quantity">
    <input type="submit" value="Finalize">
    </form>

    <br><br>

    <a href="/drinks"><button>Go back to Drinks</button></a>
</body>
</html>
