<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
</head>
<body>
	<h3>Crust Sizes</h3>
	<form method="post" action="/on-to-meats">
		<table>
			<% crust.each do |key, value| %>
				<tr>
					<td>
			 			<input type="radio" name="selection" value='<%= key %>, <%= value %>' required>
						<%= "$#{value} #{key}" %>
					</td>
					<td>
						<img src="/img/<%=key.downcase.gsub(" ", "_")%>.jpg">
					</td>
				</tr>
		  <% end %>
		</table>
		<br><br>
    	<input type="submit" value="On to meats">
	</form>

	<br><br>

	<a href="/size">
		<button>Go back to Pizza Size</button>
	</a>
</body>
</html>
