<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
</head>
<body>
	<h1>Scott's Pizza Shack Menu</h1>
	<form method="post" action="/on-to-crust">
		<h3>Pizza Sizes</h3>
		<div>
			<table>

			<% size.each do |key, value| %>
				<tr>
					<td>
		    		<input type="radio" name="size" value='<%= key %>, <%= value %>' required>
			      <%= "$#{value} #{key}" %>
					</td>
					<td>
	          <img src="/img/crust.jpg">
					</td>
				</tr>
    	<% end %>
		</table>
	</div>
      <div>
	    	<input type="submit" value="next to pizza crust">
	    </div>
	</form>
	<form method="get" action="/">
	  <input type="submit" value="Go back to Welcome page">
	</form>
</body>
</html>
