<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
</head>
<body>
	<form method="post" action="/on-to-meats">
		<h3>Crust Sizes</h3>
    	<% crust.each do |key, value| %>
				<div>
     			<input type="radio" name="crust" value='<%= key %>, <%= value %>' required>
					<%= "$#{value} #{key}" %>
    			<img src="/img/<%=key.downcase.gsub(" ", "_")%>.jpg">
				</div>
        <br>
      <% end %>
		<br><br>
    	<input type="submit" value="On to meats">
	</form>

	<br><br>

    <form method="post" action="/back-to-size">
        <input type="submit" value="Go back to Pizza Size">
    </form>
</body>
</html>
