<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <h3>Salads</h3>
    <form method="post" action="/on-to-wings">
	    <% salad.each do |key, value| %>
	        <input type="radio" name="salad" value='<%= key %>, <%= value %>' required>
                <div>
    	            <% if key == "Caesar" %>
                        <%= "#{key} is #{value} dollars" %>
                        <img src="/img/caesarSalad.jpg">
                    <% else %>
                        <%= "#{key} is #{value} dollars" %>
                        <img src="/img/veggieSalad.jpg">
                    <% end %>
                </div>
        <br>
	    <% end %>
        <br><br>
    <input type="submit" value="Next to Wings">
    </form>	

    <br><br>

    <form method="post" action="/back-to-extra-toppings">
        <input type="button" value="Go back to Extra Toppings">
    </form>

</body>
</html>