<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <h3>Salads</h3>
    <form method="post" action="/on-to-wings">
	    <% salad.each do |key, value| %>
			<div>
	      <input type="radio" name="salad" value='<%= key %>, <%= value %>' required>
				<%= "$#{value} #{key}" %>
	        <% if key == "Caesar" %>
	            <img src="/img/caesarSalad.jpg">
	          <% elsif key == "none" %>
	            <% "You don't want any of this" %>
	          <% else %>
	            <img src="/img/veggieSalad.jpg">
	        <% end %>
	    <% end %>
		</div>
        <br><br>
    <input type="submit" value="Next to Wings">
    </form>

    <br><br>

    <form method="post" action="/back-to-extra-toppings">
        <input type="submit" value="Go back to Extra Toppings">
    </form>

</body>
</html>
