<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

        <h3>Sauces</h3>
        <form method="post" action="/on-to-extra-toppings">
					<table>
						<% sauces.each do |key, value| %>
							<tr>
								<td>
									<input type="radio" name="selection" value='<%= key %>, <%= value %>' required>
									<%= "$#{value} #{key}" %>
								</td>
								<td>
						      <% if key == "none" %>
										You don't want any
						      <% else %>
						      	<img src="/img/<%=key.downcase.gsub(" ", "_")%>.jpg">
					      	<% end %>
								</td>
							</tr>
						<% end %>
					</table>

    <input type="submit" value="Next to Extra Toppings">
    </form>

    <br><br>

    <form method="post" action="/back-to-special-toppings">
        <input type="submit" value="Go back to Special Toppings">
    </form>

</body>
</html>
