<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

        <h3>Sauces</h3>
        <form method="post" action="/on-to-extra-toppings">
    <% sauces.each do |key, value| %>
		<div>
        <input type="radio" name="sauces" value='<%= key %>, <%= value %>' required>
							<%= "$#{value} #{key}" %>
                <% if key == "none" %>
                    You don't want any
								<% else %>
									<img src="/img/<%=key.downcase.gsub(" ", "_")%>.jpg">
                <% end %>
            </div>
        <br>
        <% end %>

    <input type="submit" value="Next to Extra Toppings">
    </form>

    <br><br>

    <form method="post" action="/back-to-special-toppings">
        <input type="submit" value="Go back to Special Toppings">
    </form>

</body>
</html>
