<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <h3>Special Toppings</h3>
    <form method="post" action="/on-to-sauces">
			<input type="hidden" name="step" value="special_toppings">
			<table>
				<% special_toppings.each do |key, value| %>
					<tr>
						<td>
							<input type="radio" name="selection" value='<%= key %>, <%= value %>' required>
							<%= "$#{value} #{key}" %>
						</td>
						<td>
				      <% if key == "none" %>
								You don't want any
				      <% else %>
				      	<img src="/img/<%=key.downcase.gsub(" ", "_")%>.jpg">
			      	<% end %>
						</td>
					</tr>
				<% end %>
			</table>
    	<br><br>
    <input type="submit" value="Next to the sauces">
    </form>
    <br><br>

    <form method="post" action="/back-to-veggies">
        <input type="submit" value="Go back to Veggies">
    </form>
</body>
</html>
