<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <h3>Special Toppings</h3>
    <form method="post" action="/on-to-sauces">
    	<% special_toppings.each do |key, value| %>
			<div>
	   		<input type="radio" name="special_toppings" value='<%= key %>, <%= value %>' required>
				<%= "$#{value} #{key}" %>
                    <% if key == "none" %>
                        You don't want any
                    <% else %>
                        <img src="/img/<%=key.downcase.gsub(" ", "_")%>.jpg">
                    <% end %>
                </div>
        <br>
	    <% end %>
    	<br><br>
    <input type="submit" value="Next to the sauces">
    </form>
    <br><br>

    <form method="post" action="/back-to-veggies">
        <input type="submit" value="Go back to Veggies">
    </form>
</body>
</html>
