<!DOCTYPE html>
<html>
<head>
	<title>Thanks!</title>
</head>
<body>
	<h1>Thank you for your purchase, next time you order in store show a screenshot of this page and we might give you a discount</h1>
</body>
</html>