<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h3>Veggies</h3>
	<form method="post" action="/on-to-special-toppings">
	<table>
		<% veggies.each do |key, value| %>
			<tr>
				<td>
					<input type="radio" name="selection" value='<%= key %>, <%= value %>' required>
					<%= "$#{value} #{key}" %>
				</td>
				<td>
		      <% if key == "none" %>
						You don't want any
		      <% else %>
		      	<img src="/img/<%=key.downcase.gsub(" ", "_")%>.jpg">
	      	<% end %>
				</td>
			</tr>
		<% end %>
	</table>
  <input type="submit" value="Next to Special Toppings">
  </form>

  <br><br>
  <form method="post" action="/back-to-meats">
      <input type="submit" value="Go back to Meats">
  </form>

</body>
</html>
