<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
	<h1>Welcome to Scott's Pizza Shack!</h1>
	<p>Click "next" to go on to make your pizza.</p>
	<form method="post" action="/on-to-size">
		<input type="submit" value="next">
	</form>
</body>
</html>