<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <h3>Wings</h3>
    <form method="post" action="/on-to-drinks">
	    <% wings.each do |key, value| %>
		        <div>
							<input type="radio" name="wings" value='<%= key %>, <%= value %>' required>
							<%= "$#{value} #{key}" %>
		        	<% if key == "none" %>
                    	<%= "You don't want any" %>
                    <% else %>
		        		<img src="/img/wings.png">
		        	<% end %>
		        </div>
	    <% end %>
Quantity: <input type="number" min="0" name="quantity">
    <input type="submit" value="Next to Drinks">
	</form>
	<br>
    <form method="post" action="/back-to-salad">
        <input type="submit" value="Go back to Salads">
    </form>

</body>
</html>
