<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
    <h3>Wings</h3>
    <form method="post" action="/on-to-drinks">
	    <% wings.each do |key, value| %>
	        <input type="radio" name="wings" value='<%= key %>, <%= value %>' required>
		        <div>
		        	<%= "#{key} wings are #{value} dollars" %>
		        	<img src="/img/wings.png">
		        </div>
		        <br><br>
	    <% end %>

    <input type="submit" value="Next to Drinks">
    </form>

    <br><br>
    <input type="button" onclick="location.href='/salad';" value="Go back to Salad">

</body>
</html>