body {
	text-align: center;
	background-image: url("/img/background1.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 10rem;
}

form div {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

input[type="radio"] {
	transform: scale(1.4);
}

img {
	border: 0;
	width: 8%;
	height: 8%;
	float: center;
	background-color: #000000;
	margin-top: 0rem;
}

.topnav a {
 	background-color: #000000;
	color: #FFFFFF;
	padding: 10px 10px;
	font-size: 17px;
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

#feed {
	font-weight: 700;
}

.scrollbar {
	overflow:auto; 
	height:556px;
	width:564px;
}